{% extends 'base.html' %}
{% block title %}Tests{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#testListTable").dataTable({"paging": true, "pagingType": "full_numbers" });
  });
</script>
{% endblock %}

{% block content %}
<div class="page-header">
  <h3 class="row">
    <a href="{{ url_for('show_feature', feature_id=feature.id) }}">{{ feature.name|title }}</a>
    <a href="{{ url_for('new_test', feature_id=feature.id) }}" class="btn btn-primary">Add Test</a>
    <a href="{{ url_for('new_test_from_pcm', feature_id=feature.id) }}" class="btn btn-primary">Add Test From PCM</a>
  </h3>
</div>

{% import "macros.html" as macros %}
{{ macros.render_test_list(tests) }}

{% endblock %}
